*{
    font-family: sans-serif, serif;
    background: cornsilk;
    text-align: left;
    margin: 0 auto;
    padding: 0;
}

.article__lead{
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
}

.figure__image {
    margin: 16px 0 0;
    position: relative;
    height: auto;
    max-width: 100%;
}

.article {
    max-width: 680px;
    padding: 24px;
    background: rgba(255, 0, 0, 0.000000001);  
}

 .article__heading{
    margin: 0 0 1.5rem 0;
    color: palevioletred;
}

.figure__caption {
    text-align: center;
    font-style: italic;
    margin-top: 8px;
}
